
  .main-page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
  }
  .content-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 1362px;
    padding-top: 70px;
  }
  @media (max-width: 991px) {
    .content-wrapper {
      flex-direction: column;
      align-items: stretch;
    }
  }